@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    border: 1px solid #000000;
  }
}

@layer components {
  .graybox {
    padding: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    background-color: #ffdfe5;
    border-radius: 0.5rem;
  }
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 768px;
  background-color: white;
  overflow: scroll;
  outline: 3px solid black;
}
#root::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url('../public/gaesae.png');
  background-repeat: repeat;
  background-size: 14%;
}
body::before {
  content: '';
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}
