@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    border: 1px solid #000000;
  }
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 768px;
  background-color: white;
  overflow: scroll;
}
#root::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('gaesae.png');
  background-repeat: repeat;
  background-size: 14%;
}
body::before {
  content: '';
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
}
